<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SizeClass 和AutoLayout教程2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D070EAC1BE5AE8C0051557A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D070EC51BE5AE8C0051557A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D070ED01BE5AE8C0051557A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
